*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Helvetica Neue",Helvetica,Arial;
}
#wrapper{
    height:100vh;
    overflow-y:auto;
    overflow-x:hidden;
    perspective: 10px;
}

.container{
    position:relative;
    display: flex;
    height:100%;
    width:100%;
    justify-content: center;
    align-items: center;
    transform-style:preserve-3d;
    z-index:-1;
}

.background{
    transform:translateZ(-40px) scale(6);
}

.foreground{
    transform:translateZ(-20px) scale(3);
}
.background, .foreground{
    position:absolute;
    height:100%;
    width:100%;
    object-fit:cover;
    z-index:-1;
}
.container h1{
    position:absolute;
    font-size:8rem;
    top:3rem;
    left: 50%;
    transform:translateX(-50%);
    color:white;
    text-shadow:0 0 10px rgba(0,0,0,0.3);
}

section{
    background-color:rgb(45,45,45);
    color:white;
    padding:5rem 0; 
}

.secHeading{
    font-size:5rem;
    padding:0 10rem;
    
}

.text{
    font-size:1.5rem;
    padding:0 10rem;
    margin:5rem 0;
}

.bg{
    position:relative;
    width:100%;
    background-attachment:fixed;
    height:500px;
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    justify-content:center;
}

.bg1{
    background-image:url(./images/sport-1.jpg)
}

.bg2{
    background-image:url(./images/sport-2.jpg)
}

.bg3{
    background-image:url(./images/sport-3.jpg)
}

.desc{
    background-color:white;
    padding:0.5rem 2.5rem;
    color:black;
    border-radius:5px;
}

@media screen and (max-width:850px) {
    .container h1{
        font-size:6rem;
    }
    .secHeading{
        font-size:4rem;
        padding:0 6rem;
    }

    .text{
        font-size:1.4rem;
        padding:0 6rem;
    }
    .bg{
        background-size:cover;
        background-position:center;
    }
    
}
/* https://github.com/Satyaaam/mernfullstack.git */
@media screen and (max-width:500px) {
    .container h1{
        font-size:4.5rem;
    }
    .bg{
        background-size:cover;
        background-position:center;
    }
    
}

@media screen and (max-width:390px) {
    .container h1{
        font-size:3rem;
    }
    
    .secHeading{
        font-size:2rem;
        padding:0 1rem;
        margin-top:-40px;
    }
    
    .section{
        padding:2rem 0;
    }

    .text{
        padding:0 1rem;
        font-size:1.2rem;
        margin:1rem 0;
    }
    .bg{
        background-size:cover;
        background-position:center;;
    }
    
}

